<%= form_for :session, url: session_path do |f| %>
  <div class="flex flex-col space-y-4">
    <div class="flex flex-col">
      <%= f.label :email, "Email", class: "text-gray-700 font-bold" %>
      <%= f.email_field :email, class: "border border-gray-300 rounded-md px-4 py-2" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :password, "Password", class: "text-gray-700 font-bold" %>
      <%= f.password_field :password, class: "border border-gray-300 rounded-md px-4 py-2" %>
    </div>
    <div class="flex">
      <%= f.submit "Sign In", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
      <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t(".sign_up"), sign_up_path, class: "py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
      <% end %>
    </div>
  </div>
<% end %>
